
<footer class="page-footer font-small bg-hopemarket">

<div class="container">

    <div class="row">
            <div class="col-md-12 d-flex flex-column align-items-center justify-content-center">
              <a href="https://imgur.com/TVNzFGz"><img src="https://i.imgur.com/TVNzFGz.png" title="source: imgur.com" /></a>
            <ul class="social-networking d-flex justify-content-center">


                <li>
                  <a href="https://www.instagram.com/"> <img class="tm-social d-flex " src="assets/instagram.png" alt="Logo instagram" ></a>
                </li>

                <li>
                  <a href="https://www.facebook.com/"> <img class="tm-social d-flex"  src="assets/facebook.png" alt="Logo facebook" ></a>
                </li>

                <li>
                  <a href="https://www.whatsapp.com/"> <img class="tm-social d-flex" src="assets/whatsapp.png" alt="Logo whatsapp" ></a>
                </li>


              </ul>

              <hr>

              <p class="d-flex justify-content-center text-light">
                  Todos direitos resevados: Hoper Market © 2022 Copyright
              </p>

        </div>
    </div>

</div>

</footer>
