<div class="container-fluid">
  <div class="row d-flex align-items-center">
    <div class="col-md-6" id="img-bg"></div>

    <div class="col-md-6 mt-5 mb-5">

      <div class="row d-flex justify-content-center">
        <div class="col-md-10">
          <h1 class="text-center">🛒 Quem somos?</h1>
          <p class="text-center">Conheça um pouco mais da nossa história!</p>
            <hr>
          <h3 class="text-center mt-5">O que é HOPE MARKET ?</h3>
          <p class="justify mt-5">Garantir os direitos humanos é garantir Igualdade. O Hope Market surgiu com o objetivo de trazer maior assistência social para as ONG's do Brasil! Nós somos um e-commerce criado para facilitar uma conexão entre pessoas, que decidiram promover o progresso social e melhorar as condições de vida em uma liberdade mais ampla. Alcançando um número maior de pessoas com desejo de aprimorar a vida daqueles que mais precisam, inovando soluções, otimizando resultados.
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
