<app-menu></app-menu>
<div class="mt-5 ">
<h1 class="text-center">🛒 Quem somos?</h1>
<p class="text-center">Conheça um pouco mais da nossa história!</p>
</div>
<div class="container-fluid">
  <div class="row d-flex align-items-center">
    <div class="col-md-6 d-flex justify-content-center mb-5" id="img-bg"><img src="https://i.imgur.com/zLDFvBw.png" width="500px" alt=""></div>

    <div class="col-md-6 mt-5 mb-5">

      <div class="row d-flex justify-content-center">
        <div class="col-md-10">

          <h3 class="text-center mt-5">O que é HOPE MARKET ?</h3>
          <p class="text-center mt-5 fs-20">Garantir os direitos humanos é garantir Igualdade. O Hope Market surgiu com o objetivo de trazer maior assistência social para as ONG's do Brasil! Nós somos um e-commerce criado para facilitar uma conexão entre pessoas, que decidiram promover o progresso social e melhorar as condições de vida de uma forma mais saudável. Alcançando um número maior de pessoas com desejo de aprimorar a vida daqueles que mais precisam, inovando soluções, otimizando resultados.
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div>
  <h1 class="text-center mt-4 mb-5">Desenvolvedores</h1>
  <div class="row container-fluid d-flex">
      <div class="col-md-4 ">
        <img src="https://i.imgur.com/CV4jWME.png" width="250px" class= "img-fluid rounded-circle" alt="">
        <h3 class="text-center">Fernando Porto</h3>
        <div class="row d-flex justify-content-center">

        </div>
      </div>
      <div class="col-md-4 ">
        <img src="https://i.imgur.com/HRAP2mK.jpg" width="250px" class="img-fluid rounded-circle" alt="">
        <h3 class="text-center">Tamara Augusta</h3>
        <div class="row d-flex justify-content-center">

        </div>
      </div>
      <div class="col-md-4 ">
        <img src="https://i.imgur.com/WEbxeYM.jpg" width="250px" class="img-fluid rounded-circle" alt="">
        <h3 class="text-center">Jeferson Aristaque</h3>
        <div class="row d-flex justify-content-center">

        </div>
      </div>
      <div class="col-md-4 mt-5">
        <img src="https://i.imgur.com/9ek0LSg.jpg" width="250px" class="img-fluid rounded-circle" alt="">
        <h3 class="text-center">Giovanna Gonçalves</h3>
        <div class="row d-flex justify-content-center">

        </div>
      </div>

      <div class="col-md-4 mt-5">
        <img src="../../assets/gabriel.jfif" width="250px" class="img-fluid rounded-circle" alt="">
        <h3 class="text-center">Gabriel Melim</h3>
        <div class="row d-flex justify-content-center">

        </div>
      </div>

  </div>



    <img src="" width="80px" class="img-dev" alt="">
</div>

<app-rodape></app-rodape>
