<style>
  centro{
    text-align: center;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-hopemarket" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item active">
        <img src="https://imgur.com/YaxA31v.jpeg" alt="Imagem da empresa" width="50px" height="50px" class="img-fluid rounded-circle" >
      </li>
    <div class="d-flex">
      <li class="nav-item pl-3">
        <p class="m-0 font-weight-bold">Em branco</p>
      </li>
      <li class="nav-item pl-3 ">
        <p class="m-0 font-weight-bold">Em branco</p>
      </li>
      <li class="nav-item pl-3">
        <p class="m-0 font-weight-bold">Contato</p>
      </li>
    </div>
    </ul>
  </div>
</nav>
