<style>
  centro {
    text-align: center;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-hopemarket">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto d-flex align-items-center ">
      <li class="nav-item active">
        <img src="https://i.imgur.com/JILXkTH.png" alt="Imagem da empresa" width="70px" height="70px"
          class="img-fluid rounded-circle">
      </li>
      <div class="d-flex">
        <li class="nav-item pl-3">
          <a class="m-0 font-weight-bold text-light" routerLink="/home">Home</a>
        </li>
        <li class="nav-item pl-3">
          <a class="m-0 font-weight-bold text-light" routerLink='/produto'>Produtos</a>
        </li>
        <li class="nav-item pl-3 ">
          <a routerLink='/assinantes' class="m-0 font-weight-bold text-light">Colaboração</a>
        </li>
        <li class="nav-item pl-3 ">
          <a class="m-0 font-weight-bold text-light" routerLink="/sobre">Quem somos</a>
        </li>
        <li class="nav-item pl-3 ">
          <a routerLink='/contato' class="m-0 font-weight-bold text-light">Contato</a>
        </li>



      </div>
    </ul>



    <div class="navbar-nav text-white ml-auto d-flex align-items-center">
      <i class="fa fa-shopping-cart mr-3" aria-hidden="true"></i>
      <ul *ngIf='!auth.logado()' class="ml-auto navbar-nav">

        <li class="nav-item pl-3 ml-auto">
          <a routerLink='/login' class="m-0 font-weight-bold d-flex justify-content-end text-light" >Entrar</a>
        </li>
      </ul>
      <div *ngIf='auth.logado()' class="ml-auto navbar-nav d-flex flex-column">

          <small class="text-white text-center font-weight-bold">
            Olá {{ nome }}
          </small>
          <small *ngIf='auth.admin()'> <a routerLink='/cadproduto' class="font-weight-bold text-white">Cadastrar itens</a></small>
          <small><a href="" (click)='sair()' class="badge badge-primary text-wrap" style="width: 6rem;">Sair</a></small>
        </div>
    </div>



  </div>
</nav>

