<app-menu></app-menu>

<h1 class="text-center mt-4 mb-2">Produtos</h1>
<div class="row mt-5 mb-5" >

  <div class="col-md-10 d-flex justify-content-center flex-wrap">
    <div class="card mr-5 mb-4 col-md-4" *ngFor="let produto of listaProduto" >
      <img [src]="produto.foto" class="card-img-top" width="100px" alt="...">
      <div class="card-body" >
        <h5 class="card-title">{{produto.nome}}</h5>
        <p class="card-text">Categoria: {{produto.categoria}}</p>
        <p class="card-text">Preço: {{produto.preco | currency: "BRL" }}</p>
        <a class="btn btn-outline-success" (click)="getProdById(produto.id)">Comprar</a>
      </div>
    </div>
    </div>

  </div>



<app-rodape></app-rodape>
