<app-menu></app-menu>

<div class="col md-12">
  <div class="row d-flex justify-content-center">
    
    <div class="card mr-5 ml-5 " style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Silver</h5>
        <p class="card-text">Adiquira este pacote mensal para colaborar com nossas ongs parceiras e ter desconto de 3% em todos os produtos de nosso site enquanto manter o pacote ativo</p>
        <a href="#" class="btn btn-primary ">Comprar 30,00R$</a>
      </div>
    </div>
  
    <div class="card mr-5 ml-5" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Gold</h5>
        <p class="card-text">Adiquira este pacote mensal para colaborar com nossas ongs parceiras e ter desconto de 5% em todos os produtos de nosso site enquanto manter o pacote ativo</p>
        <a href="#" class="btn btn-primary ">Comprar 50,00R$</a>
      </div>
    </div>

    <div class="card mr-5 ml-5" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Platinum</h5>
        <p class="card-text">Adiquira este pacote mensal para colaborar com nossas ongs parceiras e ter desconto de 10% em todos os produtos de nosso site enquanto manter o pacote ativo.</p>
        <a href="#" class="btn btn-primary ">Comprar 100,00R$</a>
      </div>
    </div>

  </div>
</div>

<app-rodape></app-rodape>
