<app-menu></app-menu>

<div class="col md-12">
  <h1 class="text-center font-weight-bold mt-5">PACOTE DE ASSINATURA</h1>
  <div class="row d-flex justify-content-center mt-5 mb-5">


    <div class="card mr-5 ml-5 " style="width: 18rem;">
      <img src="https://i.imgur.com/4m8mYhq.png" width="100px" class="card-img-top mb-4" alt="...">
      <div class="card-body">
        <h5 class="card-title mt-1">Silver</h5>
        <p class="card-text mb-4">Adquira este pacote mensal para colaborar com nossas ONGs parceiras e ter desconto de 5% em todos os produtos de nosso site enquanto manter o pacote ativo.</p>
        <a  class="btn btn-primary d-flex justify-content-center mt-4" (click)="putPacoteSilver()">Comprar 30,00R$</a>
      </div>
    </div>

    <div class="card mr-5 ml-5" style="width: 18rem;">
      <img src="https://i.imgur.com/9off6dp.png" width="100px" class="card-img-top mb-4" alt="...">
      <div class="card-body">
        <h5 class="card-title">Gold</h5>
        <p class="card-text">Adquira este pacote mensal para colaborar com nossas ONGs parceiras e ter desconto de 10% em todos os produtos de nosso site enquanto manter o pacote ativo.</p>
        <a  class="btn btn-primary d-flex justify-content-center" (click)="putPacoteGold()">Comprar 50,00R$</a>
      </div>
    </div>

    <div class="card mr-5 ml-5" style="width: 18rem;">
      <img src="https://i.imgur.com/Rqhmo1P.png" width="100px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title mt-3">Platinum</h5>
        <p class="card-text">Adquira este pacote mensal para colaborar com nossas ONGs parceiras e ter desconto de 15% em todos os produtos de nosso site enquanto manter o pacote ativo.</p>
        <a  class="btn btn-primary d-flex justify-content-center " (click)="putPacotePlatinum()">Comprar 100,00R$</a>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 ">Nossa missão:</h1>
    <p class="lead font-weight-bold font-italic ">Nosso trabalho é focado numa causa social, acreditamos que todos têm direito a saúde, educação e lazer. Partindo desse princípio nosso e-commerce auxilia as ONGs descritas abaixo por meio de nossos pacotes promocionais, que são direcionados podendo assim contribuir com Bem-Estar social através do voluntariado em defesa desse público alvo.
    </p>
  </div>
</div>

<div class="row d-flex align-items-center mb-5">
  <div class="col-md-6 ">
    <img class="ml-5" src="https://i.imgur.com/McUUOMP.png" alt="">
  </div>
  <div class="col-md-6">
    <p class="text-center fs-20 font-weight-bold font-italic mr-5">Todas as nossas ONGs parceiras, tem como objetivo oferecer, artes, cultura, esporte, informática, baseado em valores humanos como cidadania.</p>
  </div>
</div>

<hr>

<h2 class="text-center font-weight-bold mt-5 ">MAPEAMENTO DAS ONGS</h2>
<div class="row d-flex justify-content-center mb-5 mt-5">
  <div class="d-flex justify-content-center">
    <iframe class="ml-5" src="https://www.google.com/maps/d/u/0/embed?mid=1-NcjAVuzspIK_oRQ91qm1dZIN3Q1CBhB&ehbc=2E312F" width="640" height="480"></iframe>
  </div>

</div>

<hr>

<h2 class="text-center font-weight-bold mt-5">ONGS BENEFICIADAS</h2>
<div class="container d-flex justify-content-around align-items-center mt-5">
  <div class="col-6 col-md-4">
    <a href="https://redeculturalbeijaflor.org.br/" target="_blank"><img src="https://i.imgur.com/kBm1XB3.png" width="200px" alt=""></a>
  </div>
  <div class="col-6 col-md-4">
    <a href="https://www.fada.org.br/" target="_blank"><img src="https://i.imgur.com/U2LpVIq.png" width="150px" height="" alt=""></a>
  </div>
  <div class="col-6 col-md-4">
    <a href="http://www.anjosdanoite.org.br/" target="_blank"><img src="https://i.imgur.com/nvKg74s.png" width="150px" height="100px" alt=""></a>
  </div>
</div>

<div class="container d-flex justify-content-around align-items-center">
  <div class="col-6 col-md-4">
    <a href="https://ceak.org.br/cavi/" target="_blank"><img src="https://i.imgur.com/FzJIaeF.png" width="200px" alt=""></a>
  </div>
  <div class="col-6 col-md-4">
    <a href="https://www.aldeiasinfantis.org.br/" target="_blank"><img src="https://i.imgur.com/pn8N40j.jpg" width="150px" height="" alt=""></a>
  </div>
  <div class="col-6 col-md-4">
    <a href="https://larcriancafeliz.org.br/" target="_blank"><img src="https://i.imgur.com/lCohJq5.png" width="150px" height="100px" alt=""></a>
  </div>
</div>



<app-rodape></app-rodape>
